
table, th, td {
  border: 1px solid grey;

}

table {
  width: 100%
}

#title {
  text-align: center;
  font-family: sans-serif;
}

body{
 background-color: 	hsl(210, 100%, 85%);
}


*{
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  color: white;
}

.card:hover{
  border: 2px solid grey;
}

#blurb {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color: green;
  font-size: 20px;
}