#formWrapper {
  background-image: url("../Photos/formBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 94vh;
}

#formBody {
  z-index: 1;
  display: grid;
  place-items: start;
  text-align: center;
  margin-left: 5%;
}

#formTitle {
  font-family: "Shadows Into Light", cursive;
  margin: 3.5rem 0 3rem 0;
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
}

.formElement {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  width: 17rem;
}

.formElement label {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
}

#submitButton {
  margin-top: 5rem;
  background-color: white;
  opacity: 0.75;
  width: 10rem;
  font-family: "Shadows Into Light", cursive;
}

#submitButton:hover {
  background-color: green;
  color: whitesmoke;
}

#formButton {
  width: 325px;
  height: 55px;
  border-radius: 5%;
  color: blue;
  text-emphasis-style: bold;
  background-color: azure;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid gray;
  padding: 0;
}
.labels {
  font-family: "Josefin Sans", sans-serif;
}
#formButton:hover {
  transform: scale(1.02);
}
