html{
  margin: 0;
}

  div {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
}

img { 
  border-radius: 12%;
  display: grid;
  place-items: center;
  width: 88%;
  margin: 0;
  padding: 0;
}

#logo {
  margin-top: 110px;
}

h3 {
  font-size: 40px;
  color: azure;
  font-family:'Shadows Into Light', cursive;
  margin: 0;
  display: grid;
  place-items: center;
}

button{
  width: 325px;
  height: 55px;
  border-radius: 5%;
  color: blue;
  text-emphasis-style: bold;
  background-color: azure;
  font-family:'Shadows Into Light', cursive;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid gray;
  padding: 0;
}

#button {
  display: grid;
  place-items: center;
  height: 100px;
}
