#meal_plan {
  background-image: url(https://previews.123rf.com/images/vicushka/vicushka1511/vicushka151100033/48413260-salmon-fish-fillets-on-cutting-board-and-fresh-ingredients-for-cooking-on-rustic-background-top-view.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 93vh;
}

#title {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 60px;
  color:azure;
  padding: 45px;
}

#blurb {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 30px;
  color:azure;
  background-color: black;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: grid;
  place-items: center;
}