
#shoppingList {
  background-image: url("../Photos/clipboard.png");
  display: grid;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 400px;
}

#listWrapper {
  background-image: url("../Photos/Meal-plan-background.jpg");
  opacity: 0.9;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

#text-content {
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #1f7a1f;
  margin-top: 175px;
}
#shoppingList {
  display: grid;
  justify-content: center;
  text-align: center;
}

#GroceryList{
  display: grid;
  justify-content: center;
}
#GroceryListTitle{
  margin-top: 50px;
  font-family:'Shadows Into Light', cursive;
  font-size: 75px;
  text-align: center;
}

#GroceryListTable{
  width: 700px;
  background-color: white;
  opacity: 0.75;
  color: green;
  
}

#GroceryListTable td {
  color: green;
  text-align: center;
  margin-left: 10px;
  height: 40px;
  font-family:'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 30px;
}


#GroceryListInput {
  height: 100px;
  color: black;
  text-align: center;
}

#buttons{
  text-align: left;
  width: 60px;
 padding-bottom: 10px;
  
}

.groceryButton{
  color: green;
  width: 50px;
  height: 20px;
  font-size: 15px;
  font-family: sans-serif;

}