#GroceryList{
  display: grid;
  justify-content: center;
}


#GroceryListTitle{
  margin-top: 50px;
  font-family:'Shadows Into Light', cursive;
  font-size: 75px;
  text-align: center;
  color: green;
}

#GroceryListTable{
  width: 800px;
  background-color: white;
  opacity: 0.75;
  color: green;
  
}

#GroceryListTable td {
  color: green;
  text-align: center;
  margin-left: 10px;
  height: 40px;
  font-family:'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 30px;
}


.GroceryListInput {
  height: 100px;
  color: green;
  text-align: center;

}

.buttons{
  text-align: left;
  width: 100px;
 padding-bottom: 10px;
  
}

.groceryButton{
  color: white;
  background-color: green;
  opacity: 0.75;
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-family:'Shadows Into Light', cursive;

}
.groceryButton:hover{
  color: green;
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-family:'Shadows Into Light', cursive;
  background-color: white;

}

